header h1{
    font-size: 22em;
}

body,footer{
    font-size: 1em;
}

body h2{
    font-size:2.5em;
}

summary{
    font-size: 1em;
}

details{
    font-size: 3em;
}

article label{
    font-size: 0.9em;
}

article li{
    font-size: 0.7em;
    margin-bottom: 0.3em;
}

article ul{
    margin-left:2em;
}

#github a:link{
    border-radius: 3em;
    padding: 1.2em 2.4em;
    font-size: 1.2em;
}

#github{
    margin:3.5em;
}